{% extends 'base.html' %}
{% load humanize %}

{% block content %}
{% include 'components/_navbar.html' %}
<main>
    <h1>Analitika</h1>

    <div style="width: 100%; margin: 0 auto;">
        <canvas id="myChart"></canvas>
        <canvas id="barChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const labels = ["Fevral", "Mart", "Aprel", "May", "Iyun", "Iyul", "Avgust", "Sentbr", "Oktabr"];
        const labelData = [7100000, 9800000, 7500000, 8750000, 10000000, 9000000, 7500000, 8000000, 6900000];

        const data = {
            labels: labels,
            datasets: [{
                data: labelData,
                backgroundColor: '#9BD0F5',
                borderColor: '#36A2EB',
                hoverBorderColor: '#000',

            }],
        };

        const lineChartConfig = {
            type: 'line',
            data: data,
            options: {
                layout: {
            padding: 40
        },
                plugins: {
                    legend: {
                        display: false,
                    },
                    title: {
                        display: true,
                        text: "Oylar bo'yicha to'lovlar (so'mda)"
                    }
                },
                
            },
        };

        const barChartConfig = {
            type: 'pie',
            data: data,
            options: {
                layout: {
            padding: 20
        },
                plugins: {
                    legend: {
                        display: false,
                    },
                    title: {
                        display: true,
                        text: "Oylar bo'yicha to'lovlar (so'mda)"
                    }
                },
                
            },
        };

        const chart = new Chart(
            document.getElementById('myChart'),
            lineChartConfig,
        );
        const barChart = new Chart(
            document.getElementById('barChart'),
            barChartConfig,
        );

    </script>
</main>
{% include 'components/_right_block.html' %}
{% endblock content %}