{% extends 'base.html' %}
{% load humanize %}

{% block content %}
{% include 'components/_navbar.html' %}
<main>
    <h1>Analitika</h1>
    <div style="width: 100%; display: flex; flex-direction: column; align-items: center;">
        <div style="width: 70%;">
            <canvas id="myChart"></canvas>
        </div>
        <div style="width: 70%;">
            <canvas id="barChart"></canvas>
        </div>
        <br>
        <h2>To'langan va kutilaytogan tushum</h2>
        <p>{{ total_paid|intcomma }} so'm / {{ total_payment|intcomma }} so'm</p>

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            
            const lineChartLabels = {{ months_list|safe }};
            const lineChartLabelData = {{ payments_list|safe }};
            const barChartLabels = {{ groups_names|safe }};
            const barChartLabelData = {{ groups_total_payments|safe }};

            const lineChartData = {
                labels: lineChartLabels,
                datasets: [{
                    data: lineChartLabelData,
                    backgroundColor: '#9BD0F5',
                    borderColor: '#36A2EB',
                    hoverBorderColor: '#ffffff',
                }],
            };

            const lineChartConfig = {
                type: 'line',
                data: lineChartData,
                options: {
                    layout: {
                        padding: 20,
                    },
                    plugins: {
                        legend: {
                            display: false,
                        },
                        title: {
                            display: true,
                            text: "Oylar bo'yicha to'lovlar (so'mda)"
                        }
                    },
                    scales: {
                        y: {
                            title: {
                                display: true,
                                text: "Tushum miqdori",
                            },
                            min: 0,
                        },
                        x: {
                            title: {
                                display: true,
                                text: "Oy nomi",
                            }
                        }
                    }
                },
            };

            const barChartData = {
                labels: barChartLabels,
                datasets: [{
                    data: barChartLabelData,
                    backgroundColor: ['#e6194b', '#3cb44b', '#ffe119', '#4363d8', '#f58231', '#911eb4', '#46f0f0', '#f032e6', '#bcf60c', '#fabebe', '#008080', '#e6beff', '#9a6324', '#fffac8', '#800000', '#aaffc3', '#808000', '#ffd8b1', '#000075', '#808080', '#ffffff', '#000000'],
                    borderColor: 'transparent',
                    hoverBorderColor: '#ffffff',
                }],
            };

            const barChartConfig = {
                type: 'bar',
                data: barChartData,
                options: {
                    layout: {
                        padding: 20,
                    },
                    plugins: {
                        legend: {
                            display: false,
                        },
                        title: {
                            display: true,
                            text: "Guruhlarning maksimal to'lovlari (so'mda)"
                        }
                    },
                    scales: {
                        y: {
                            title: {
                                display: true,
                                text: "To'lov miqdori"
                            },
                            min: 0,
                        },
                        x: {
                            title: {
                                display: true,
                                text: "Guruh nomi",
                            },
                        }
                    },
                },
            };

            const chart = new Chart(
                document.getElementById('myChart'),
                lineChartConfig,
            );
            const barChart = new Chart(
                document.getElementById('barChart'),
                barChartConfig,
            );

        </script>
</main>
{% include 'components/_right_block.html' %}
{% endblock content %}
