{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load humanize %}
    {% include 'components/_navbar.html' %}
    <div
            class="sendSMSModalWindow"
    >
        <form class="send-sms-form">
            <label for="sms-body">SMS xabar:</label>
            {% csrf_token %}
            <textarea
                    id="sms-body"
                    rows="10"
                    cols="30"
                    type="text"
                    class="font-size: 20px;"
                    required
            ></textarea>
            <br/>
            <div id="sms-texts-container" style="max-height: 300px; overflow: auto; display: flex; flex-direction: column; gap: 5px;"></div>
            <br/>
            <button
                    class="button send-sms-button"
                    style="
				padding: 10px;
				width: 100%;
				border: 1px solid var(--color-white);
				border-radius: var(--border-radius-1);
			"
                    type='button'
            >
                SMS yuborish
            </button>
        </form>
    </div>
    <div
            class="sendSMSModalWindowBackdrop"
            style="
		position: absolute;
		left: 0;
		top: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(5px);
		display: none;
	"
    ></div>
    <main>
        {{ sms_texts|json_script:"sms-texts" }}
        <h1>{{ group.name }} guruhi</h1>
        <div class="card-wrapper">
            <div class="card">
                <a
                        class="button add-button"
                        href="{% url 'add_pupil' %}?group_id={{ group_id }}"
                        style="
					display: flex;
					flex-direction: row;
					align-items: center;
					width: max-content;
					gap: 5px;
				"
                >
                    <span class="material-icons-sharp"> school </span>
                    O'quvchi qo'shish
                </a>
                {% if pupils %}
                    <button
                            class="button warning-button send-sms"
                            style="
					display: flex;
					flex-direction: row;
					align-items: center;
					width: max-content;
					gap: 5px;
				"
                    >
                        <span class="material-icons-sharp"> textsms </span>
                        SMS yuborish
                    </button>
                {% endif %}
                <table class="group-pupils">
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>O'quvchi</th>
                        <th>To'lov</th>
                        <th>O'zgartirish</th>
                        <th>Telefon raqami</th>
                        <th>SMS</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if pupils %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <input
                                        class="pupil-checkboxes-selector"
                                        style="width: 24px; height: 24px"
                                        type="checkbox"
                                />
                            </td>
                        </tr>
                    {% endif %} {% for pupil in pupils %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ pupil.full_name }}</td>

                            {% for payment in pupil.payments %}

                                <td
                                        class="{% if payment.amount == pupil.group.price %} success {% endif %}"
                                >
                                    {{ payment.amount|intcomma }} / {{ pupil.group.price|intcomma }}
                                </td>

                            {% empty %}
                                <td>0 / {{ pupil.group.price|intcomma }}</td>
                            {% endfor %}
                            <td class="manage-pupil">
                                <div class="row-change-controller">
                                    <a href="{% url 'update_pupil' pk=pupil.id %}">
                                        <span class="material-icons-sharp"> edit </span>
                                    </a>
                                    <a href="{% url 'delete_pupil' pk=pupil.id %}">
                                        <span class="material-icons-sharp"> delete </span>
                                    </a>
                                    {% if request.user.is_superuser %}
                                        <a
                                                href="{% url 'add_payment' group_id=pupil.group.id pupil_id=pupil.id %}"
                                        >
                                            <span class="material-icons-sharp"> credit_card </span>
                                        </a>
                                    {% endif %}
                                </div>
                            </td>
                            <td>{{ pupil.get_phone_number }}</td>
                            <td>
                                <input
                                        class="pupil-checkbox"
                                        data-pupil="{{ pupil.id }}"
                                        style="
									height: 24px;
									width: 24px;
									accent-color: var(--color-success);
								"
                                        type="checkbox"
                                />
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% include 'components/_right_block.html' %}
<script src="{% static 'custom-js/smsTexts.js' %}"></script>
{% endblock content %}
