{% extends 'base.html' %} 
{% block content %} 
{% load humanize %}

{% include 'components/_navbar.html' %}
<main>
  <h1>Groups page</h1>
  <div class="card-wrapper">
    <div class="card">
      <table>
        <tbody>
          <tr>
            <th>№</th>
            <th>Guruh</th>
            <th>O'qituvchisi</th>
            <th>Bolalar soni</th>
            <th>O'zgartirish / O'chirish</th>
          </tr>
          {% for group in groups_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ group.name }}</td>
            <td>{{ group.teacher.full_name }}</td>
            <td>{{ group.pupil_set.all.count|intcomma }}</td>
            <td>
              <a href="{% url 'update_group' pk=group.id %}">
                <span class="material-icons-sharp">
                  edit
                </span>                  
              </a>
              <a href="{% url 'delete_group' pk=group.id %}">
                <span class="material-icons-sharp">
                  delete
                </span>                  
              </a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</main>
{% include 'components/_right_block.html' %} {% endblock content %}
