{% extends 'base.html' %} 
{% load humanize static %} 
{% block content %} 
{% include 'components/_navbar.html' %}
<div
	class="sendSMSModalWindow"
>
	<form class="send-sms-form">
		<label for="sms-body">SMS xabar:</label>
		{% csrf_token %}
		<textarea
			id="sms-body"
			rows="10"
			cols="30"
			type="text"
			class="font-size: 20px;"
			required
		></textarea>
		<br />
		{% if pupils_list %}
		<button
			class="button send-sms-button"
			style="
				padding: 10px;
				width: 100%;
				border: 1px solid var(--color-white);
				border-radius: var(--border-radius-1);
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center;
				gap: 5px;
			"
			type='button'
		>
			<span class="material-icons-sharp"> mail_outline </span>
			SMS yuborish
		</button>
		{% endif %}
	</form>
</div>
<div
	class="sendSMSModalWindowBackdrop"
	style="
		position: absolute;
		left: 0;
		top: 0;
		height: 100vh;
		width: 100vw;
		background-color: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(5px);
		display: none;
	"
></div>
<main>
	<script type="text/javascript">
		const isSuperuser = '{{ request.user.is_superuser }}'
		const entries = [
			{% for pupil in pupils_list %} 
			[	
				['id', '{{ pupil.id }}'],
				['fullName', '{{ pupil.full_name }}'], 
				['payment', {% for payment in pupil.payments %} '{{ payment.amount|intcomma }}' {% empty %} '0' {% endfor %}],
				['groupPayment', '{{ pupil.group.price|intcomma }}'],
				['groupId', '{{ pupil.group.id }}'],
				['groupName', '{{ pupil.group.name }}'],
				['phoneNumber', '{{ pupil.get_phone_number }}']
			],
			{% endfor %}
		]
		const pupilsList = entries.map(entry => Object.fromEntries(entry))
	</script>
	<h1>Barcha o'quvchilar</h1>
	<div class="card-wrapper">
		<div class="card">
			<div class="table-header">
				{% if pupils_list %}
				<button
					class="button warning-button send-sms"
					style="
						display: flex;
						flex-direction: row;
						align-items: center;
						width: max-content;
						gap: 5px;
					"
					>
					<span class="material-icons-sharp"> textsms </span>
					SMS yuborish
				</button>
				{% endif %}
				<div id="input-wrapper">
					<input
						type="search"
						name="search-field"
						id="search-field"
						placeholder=""
					/>
					<label for="search-field">F.I.O, guruh, tel. raqam</label>
				</div>
			</div>
			<table class="pupils-table">
				<thead>
					<tr>
						<th>№</th>
						<th>O'quvchi</th>
						<th>Guruh</th>
						<th>To'lov</th>
						<th>O'zgartirish</th>
						<th>Tel. raqam</th>
						<th>SMS</th>
					</tr>
				</thead>
				<tbody>
					{% if pupils_list %}
					<tr>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>
							<input
								class="pupil-checkboxes-selector"
								style="width: 24px; height: 24px"
								type="checkbox"
							/>
						</td>
					</tr>
					{% endif %} {% for pupil in pupils_list %}
					<tr>
						<td>{{ forloop.counter }}</td>
						<td>{{ pupil.full_name }}</td>
						<td>{{ pupil.group.name }}</td>

						{% for payment in pupil.payments %}

						<td
							class="{% if payment.amount == pupil.group.price %} success {% endif %}"
						>
							{{ payment.amount|intcomma }} / {{ pupil.group.price|intcomma }}
						</td>

						{% empty %}
						<td>0 / {{ pupil.group.price|intcomma }}</td>
						{% endfor %}

						<td class="manage-pupil">
							<div class="row-change-controller">
								<a href="{% url 'update_pupil' pk=pupil.id %}">
									<span class="material-icons-sharp"> edit </span>
								</a>
								<a href="{% url 'delete_pupil' pk=pupil.id %}">
									<span class="material-icons-sharp"> delete </span>
								</a>
								{% if request.user.is_superuser %}
									<a
										href="{% url 'add_payment' group_id=pupil.group.id pupil_id=pupil.id %}"
									>
										<span class="material-icons-sharp"> credit_card </span>
									</a>
								{% endif %}
							</div>
						</td>
						<td>{{ pupil.get_phone_number }}</td>
						<td>
							<input
								class="pupil-checkbox"
								data-pupil="{{ pupil.id }}"
								style="
									height: 24px;
									width: 24px;
									accent-color: var(--color-success);
								"
								type="checkbox"
							/>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</main>
<script src="{% static 'pupilFilter.js' %}"></script>
{% include 'components/_right_block.html' %} {% endblock content %}
