{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'components/_navbar.html' %}
<main>
    <h1>Barcha o'qituvchilar</h1>
    <div class="card-wrapper">
        <div class="card">
            {% if request.user.is_superuser %}
            <a class="button add-button" href="{% url 'add_teacher' %}">O'qituvchi qo'shish</a>
            {% endif %}
            <table>
                <thead>
                    <tr>
                        <th>№</td>
                        <th>O'qituvchi</td>
                        <th>E-mail manzil</td>
                        <th>Qo'shilgan sanasi</td>
                        <th>
                            {% if request.user.is_superuser %}
                            O'zgartirish / O'chirish
                            {% endif %}
                        </td>
                    </tr>
                </thead>
                <tbody>
                    {% for teacher in teachers_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ teacher.full_name }}</td>
                        <td>{% if teacher.email %} {{ teacher.email }} {% else %} - {% endif %}</td>
                        <td>{{ teacher.created|date }}</td>
                        <td>
                            <div class="user-controls">
                                {% if request.user.is_superuser %}
                                <a href="{% url 'update_teacher' pk=teacher.id %}" class="button">
                                    <span class="material-icons-sharp">
                                        edit
                                    </span>
                                </a>
                                {% endif %}
                                {% if request.user.is_superuser and request.user != teacher %}
                                <a href="{% url 'delete_teacher' pk=teacher.id %}" class="button">
                                    <span class="material-icons-sharp">
                                        delete
                                    </span>
                                </a>
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% include 'components/_right_block.html' %}
{% endblock content %}
