{% extends 'base.html' %}
{% load static %}

{% block content %}
{% include 'components/_navbar.html' %}
<main>
    <h1>Teachers page</h1>
    <div class="card-wrapper">
        <div class="card">
            <a class="user add-user button" href="{% url 'add_teacher' %}">
                <img src="{% static 'images/plus.png' %}">
                <h2>Yangi o'qituvchi qo'shish</h2>
                <!-- <p></p> -->
            </a>
            {% for teacher in teachers_list %}
            <div class="user">
                <img src="{{ teacher.profile_picture.url }}">
                <h2>{{ teacher.get_full_name }}</h2>
                <p>{{ teacher.created|date }}</p>
                <div class="user-controls">
                    <a href="" class="button">
                        <span class="material-icons-sharp">
                            edit
                        </span>
                    </a>
                    <a href="" class="button">
                        <span class="material-icons-sharp">
                            delete
                        </span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% include 'components/_right_block.html' %}
{% endblock content %}
