<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Responsive Dashboard Design #1 | AsmrProg</title>
</head>

<body class="dark-mode-variables">

<div class="container">

    {% block content %} {% endblock content %}

</div>

<script src="{% static 'orders.js' %}"></script>
<script src="{% static 'index.js' %}"></script>
</body>
</html>


