{% extends 'base.html' %}

{% block content %}
<div class="signin-form">
    <form action="" method="post" class="form" id="login-form">
        {% csrf_token %}
        <h1>Tizimga kirish</h1>
        <br>
        <div id="input-wrapper">
            <input type="email" name="email" id="email" {% if not email %} autofocus {% endif %} value='{{ email }}' placeholder="">
            <label for="email">E-mail manzil:</label>
        </div>
        <div id="input-wrapper">
            <input type="password" name="password" id="password" autofocus placeholder="">
            <label for="password">Parol:</label>
        </div>
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <br>
        <button type="submit" class="button">Kirish</button>
    </form>
</div>
{% endblock content %}
