{% load static %}
<aside>
    <div class="toggle">
        <div class="logo">
            <img src="{% static 'favicon.png' %}">
            <h2>thedevu<span class="danger">101</span></h2>
        </div>
        <div class="close" id="close-btn">
            <span class="material-icons-sharp">
                close
            </span>
        </div>
    </div>

    <div class="sidebar">
        {% if request.user.is_superuser %}
        <a href="{% url 'subjects' %}" class="{% if subjects == True %} active {% endif %}">
                    <span class="material-icons-sharp">
                        bookmark
                    </span>
            <h3>Fanlar</h3>
        </a>
        {% endif %}
        <a href="{% url 'groups' %}" class="{% if groups == True %} active {% endif %}">
                    <span class="material-icons-sharp">
                        groups
                    </span>
            <h3>Guruhlar</h3>
        </a>
        <a href="{% url 'teachers' %}" class="{% if teachers == True %} active {% endif %}">
                    <span class="material-icons-sharp">
                        people_alt
                    </span>
            <h3>O'qituvchilar</h3>
        </a>
        <a href="{% url 'pupils' %}" class="{% if pupils == True %} active {% endif %}">
                    <span class="material-icons-sharp">
                        school
                    </span>
            <h3>O'quvchilar</h3>
<!--            <span class="message-count">27</span>-->
        </a>
        {% if request.user.is_superuser %}
        <a href="{% url 'dashboard' %}" class="{% if dashboard == True %} active {% endif %}">
                    <span class="material-icons-sharp">
                        insights
                    </span>
            <h3>Analitika</h3>
        </a>
        {% endif %}
        <a href="{% url 'settings' %}" class="{% if settings == True %} active {% endif %}">
                    <span class="material-icons-sharp">
                        settings
                    </span>
            <h3>Sozlamalar</h3>
        </a>

        <a href="{% url 'signout' %}">
                    <span class="material-icons-sharp">
                        logout
                    </span>
            <h3>Chiqish</h3>
        </a>
    </div>
</aside>
