{% load static %}
<div class="right-section">
    <div class="nav">
        <button id="menu-btn">
            <span class="material-icons-sharp">
                menu
            </span>
        </button>
        <div class="dark-mode">
            <span class="material-icons-sharp">
                light_mode
            </span>
            <span class="material-icons-sharp">
                dark_mode
            </span>
        </div>

        <div class="profile">
            <div class="info">
                <p>Salom, <b>Ulug'bek</b></p>
                <small class="text-muted">{{ request.user.job }}</small>
            </div>
            <div class="profile-photo">
                <img src="{{ request.user.profile_picture.url }}" alt="{{ request.user.full_name }}"
                    title="{{ request.user.full_name }}">
            </div>
        </div>

    </div>
    <!-- End of Nav -->

    <div class="user-profile">
        <div class="logo" style="display: flex; flex-direction: column; align-items: center;">
            {% if not request.user.profile_picture %}
            <img src="{% static 'profile-pictures/user-default.png' %}" title="{{ request.user.full_name }}">
            {% else %}
            <img src="{{ request.user.profile_picture.url }}" alt="{{ request.user.full_name }}"
                title="{{ request.user.full_name }}">
            {% endif %}
            <h2>{{ request.user.full_name }}</h2>
            <p>{{ request.user.job }}</p>
        </div>
    </div>

    <!-- <div class="reminders">
        <div class="header">
            <h2>Reminders</h2>
            <span class="material-icons-sharp">
                        notifications_none
                    </span>
        </div>

        <div class="notification">
            <div class="icon">
                        <span class="material-icons-sharp">
                            volume_up
                        </span>
            </div>
            <div class="content">
                <div class="info">
                    <h3>Workshop</h3>
                    <small class="text_muted">
                        08:00 AM - 12:00 PM
                    </small>
                </div>
                <span class="material-icons-sharp">
                            more_vert
                        </span>
            </div>
        </div>

        <div class="notification deactive">
            <div class="icon">
                        <span class="material-icons-sharp">
                            edit
                        </span>
            </div>
            <div class="content">
                <div class="info">
                    <h3>Workshop</h3>
                    <small class="text_muted">
                        08:00 AM - 12:00 PM
                    </small>
                </div>
                <span class="material-icons-sharp">
                            more_vert
                        </span>
            </div>
        </div>

        <div class="notification add-reminder">
            <div>
                        <span class="material-icons-sharp">
                            add
                        </span>
                <h3>Add Reminder</h3>
            </div>
        </div>

    </div> -->

</div>